@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* These variabels mean I don't have to write my colour hex codes in in every instance, saving me time */
:root {
	--yellow: #FFCF00;
	--brown: #460408;
	--blue: #000047;
}

/* Some properties are useful to just apply to every element by default */
* {
    margin: 0; /* Defaults the margin to 0 for easier styling */
	box-sizing: border-box;
	font-family: "Inter", sans-serif;
	font-optical-sizing: auto;
	scroll-behavior: smooth;
}

body {
	overflow-x: hidden;
}

#grid-container {
	display: grid;
	grid-template-columns: 100%;
}

/* The calc(100vh - 136px) makes sure the height of the header and therefore the hero image is exactly the same height as the screen */
#home #grid-container {
	grid-template-rows: 136px calc(100vh - 136px) auto auto;
}

.activity #grid-container {
	grid-template-rows: 136px auto 100px;
}

nav #links-background {
    background-color: var(--blue);
    width: 100%;
	height: calc(100% - 12px);
    display: flex;
    flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 30px;
}

nav #logo {
	height: 76px;
	width: auto;
	display: flex;
	align-items: center;
	gap: 40px;
}

nav #logo img {
	height: 100%;
}

nav #logo h2 {
	display: inline;
	font-size: 40px;
	color: white;
}

nav #page-links {
	height: min-content;
	display: flex;
}

nav ul {
	list-style: none;
}

nav ul li {
	font-size: 25px;
	color: white;
	font-weight: 400;
	width: auto;
	padding-left: 27px;
	padding-right: 28px;
}

nav a {
	text-decoration: none;
}

nav #page-indicator {
	position: absolute;
	height: 5px;
	background-color: white;
	margin-top: 7px;
}

nav .accent-line {
	background-color: var(--yellow);
	height: 12px;
}

/* The background image needed its own div, so that I could apply the filter property without it affecting the text within */
#home header .background {
	background-image: url(../images/wainui_5.jpg);
	background-position: center;
	background-size: cover;
	height: calc(100vh - 136px);
	width: 100%;
	z-index: -1;
	position: absolute;
	filter: blur(4px) brightness(0.8);
	scale: 1.013;
}

#home header {
	display: flex;
	flex-direction: column;
}

#home header h1 {
	font-size: 200px;
	margin: auto auto 0;
	color: white;
}

#home header h3 {
	font-size: 150px;
	margin: 0 auto auto;
	color: white;
}

.activity .activity-header {
	background-color: var(--blue);
	border: 12px solid var(--yellow);
	border-radius: 60px;
	padding: 63px 0;
	text-align: center;
	width: 1370px;
}

.activity .activity-header h1 {
	color: white;
	font-size: 100px;
	font-weight: 600;
}

#scroll-nudge {
	position: absolute;
	bottom: 0px;
	width: 100%;
	height: 100px;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 25px;
}

#nudge-text {
	color: white;
	display: none;
	animation: fade 200ms;
	font-size: 15px
}

/* Using keyframes for this animation provides more flexibility; it wouldn't work with the transition property */
@keyframes fade {
	from {
		opacity: 0.1;
	}
	to {
		opacity: 1;
	}
}

/* Like all the SVGs on the website, the SVG properties are applied in the CSS instead of inline, for easier changing */
#arrow {
	position: absolute;
	fill: none;
	stroke: white;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-width: 400px;
	height: 20px;
	width: 40px;
	bottom: 25px;
	transition-duration: 200ms;
}

#scroll-nudge:hover #nudge-text {
	display: block;
}

#scroll-nudge:hover #arrow {
	bottom: 20px;
}

main {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 140px;
	padding: 140px 0;
}

#home main {
	border-top: 18px solid var(--blue);
}

article {
	display: flex;
	flex-direction: column;
	gap: 120px;
}

article section {
	display: flex;
	flex-direction: column;
}

article section#left {
	width: 700px;
	gap: 110px;
	font-size: 18px;
}

article section#right {
	width: 520px;
	gap: 130px;
}

.row-content {
	display: flex;
	flex-direction: row;
	gap: 150px;
}

.image {
	width: 100%;
	background-size: cover;
	background-position: center;
}

/* This covers all the divs that need the same border radius. Doing it this way makes it easy to change the radius all at once */
article section > div, article > #row-content > div, #form-box, #contact-details {
	border-radius: 35px;
}

.koru-background {
	background-color: #460408;
	position: relative;
}

/* Using the pseudo-element ::before, I can modify the opacity of the koru pattern and put it in front of the brown but behind the text, all without making another element */
.koru-background::before {
	content: '';
	background-image: url(../images/koru_background.jpg);
	opacity: 0.05;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-size: cover;
	background-position: center;
	border-radius: inherit;
}

.koru-background > * {
	position: relative;
}

/* Using classes for this means I can quickly add class="bold" or class="semi-bold" to text that needs it, rather than manaully writing the font weight in CSS everywhere text like that appears */
.bold {
	font-weight: 700;
}

.semi-bold {
	font-weight: 600;
}

#group-links {
	padding: 27px;
}

#group-links p {
	color: white;
	font-size: 16px;
}

#group-links #buttons {
	margin-top: 27px;
	display: flex;
	justify-content: space-between;
}

#group-links .group-button {
	border-radius: 43px;
	background-color: var(--yellow);
	width: 118px;
	height: 45px;
	transition-duration: 100ms;
}

#group-links .group-button:hover {
	scale: 1.03;
}

#group-links a {
	width: 100%;
	height: 100%;
	display: inline-block;
	text-align: center;
	align-content: center;
	text-decoration: none;
	color: initial;
}

#meeting-time-location {
	display: flex;
	flex-direction: column;
	color: white;
	padding: 46px;
	gap: 45px;
	text-align: center;
}

#meeting-time-location #symbols {
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 105px;
}

#meeting-time-location h5 {
	font-size: 30px;
	font-weight: 500;
}

#meeting-time-location p {
	font-size: 21px;
}

#meeting-time-location .symbol {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 22px;
}

#meeting-time-location svg {
	width: 80px;
	height: 80px;
	fill: none;
	stroke: white;
	stroke-width: 2px;
	stroke-linecap: round;
	stroke-linejoin: round;
}

#wainui-preview {
	background-image: url(../images/wainui_8.jpg);
	background-position: center;
	background-size: cover;
	height: 259px;
	transition-duration: 200ms;
	border: 7px solid var(--brown);
}

#wainui-preview:hover {
	scale: 1.03;
}

#wainui-preview a {
	width: 100%;
	height: 100%;
	display: inline-block;
	text-decoration: none;
}

#wainui-preview h4 {
	font-weight: 750;
	font-size: 44px;
	text-align: center;
	margin-top: 39px;
	color: white;
}

.paragraph {
	display: flex;
	flex-direction: column;
	gap: 34px;
}

/* Sometimes, it is easier to put the font weight in here instead of using a semi-bold class, so I've done that here */
.paragraph h3 {
	font-size: 49px;
	font-weight: 600;
}

.image {
	border: 11px solid var(--brown);
	border-radius: 35px;
}

#left .image {
	height: 350px;
}

#right .image {
	flex-grow: 1;
}

#contact-details {
	display: flex;
	flex-direction: column;
	color: white;
	padding: 50px 46px;
	gap: 57px;
	width: 700px;
}

#contact-details p {
	font-size: 30px;
	font-weight: 500;
}

#contact-details .detail {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 39px;
	position: relative;
}

#contact-details svg {
	width: 80px;
	height: 80px;
	fill: none;
	stroke: white;
	stroke-width: 2px;
	stroke-linecap: round;
	stroke-linejoin: round;
}

#contact .image {
	width: 520px;
}

#form-box {
	width: 1370px;
	padding: 50px;
}

#form-box p {
	color: white;
	font-size: 24px;
}

#form-box #form-button {
	display: flex;
	border-radius: 75px;
	background-color: var(--yellow);
	width: 100%;
	height: 110px;
	margin-top: 50px;
	align-items: center;
	justify-content: center;
}

#form-box a {
	width: 100%;
	height: 100%;
	display: inline-block;
	text-align: center;
	align-content: center;
	text-decoration: underline;
	color: initial;
	font-size: 30px;
	font-weight: 600;
}

footer {
	background-color: var(--blue);
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 30px 40px;
}

footer p {
	color: white;
	font-size: 20px;
}

footer #footer-logo {
	display: flex;
	gap: 20px;
	align-items: center;
}

footer #footer-logo img {
	height: 48px;
}

footer #external-links {
	display: flex;
	flex-direction: row;
	gap: 37px;
}

footer a {
	display: flex;
	gap: 12px;
	color: white;
}

footer #external-links svg {
	width: 24px;
	height: 24px;
	fill: none;
	stroke: white;
	stroke-width: 2px;
	stroke-linecap: round;
	stroke-linejoin: round;
}
